@import "/src/_variables.scss";

:host {
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
}

img {
  max-width: 120px;
}

.container {
  width: 100%;
  height: 100%;
}

gallery {
  left: auto;
  width: 100%!important;
  z-index: 0;
  left: 0%!important;
  transform: translateX(0vw)!important;
  background: $base_color_light;
}

.file-list-container {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

table {
  width: 100%;
  border-spacing: 0px;
}

.row-hover:hover {
  background: rgba(238, 238, 238, 0.7);
}

.loading-shade {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: $base_color_light;
}
