<div *ngIf="!isLoadingResults" class="container">
  <gallery fluid [items]="items"></gallery>
  <app-file-upload [type]="'img'" [module]="'galery'" *appAuthUser ></app-file-upload>
  <div *appAuthUser class="file-list-container">
    <table>
      <tr>
        <td colspan="3" style="text-align: center;">Lisa dostępnych zdjęć</td>
      </tr>
      <tr *ngFor="let img of images" class="row-hover">
        <td><img src="{{img.file}}"></td>
        <td>{{img.file | fileName}}</td>
        <td><img src="assets/icons/delete-24px.svg" (click)="openDeleteDialog(img)"></td>
      </tr>
    </table>
  </div>
<div *ngIf="isLoadingResults" class="loading-shade">
  <mat-spinner mode="indeterminate" color="primary" [diameter]="30"></mat-spinner>
</div>
