<div class="top-nav">
  <div class="nav-cell" routerLink="/">Główna</div>
  <div class="nav-cell" routerLink="/aktualnosci" routerLinkActive='active'>Aktualności</div>
  <div class="nav-cell" routerLink="/oplaty" routerLinkActive='active'>Opłaty</div>
  <div class="nav-cell" routerLink="/prawo_i_dokumenty" routerLinkActive='active'>Prawo i dokumenty</div>
  <div class="nav-cell" routerLink="/kontakt" routerLinkActive='active'>Kontakt</div>
  <div class="nav-cell" routerLink="/historia_ogrodu" routerLinkActive='active'>Historia ogrodu</div>
  <div class="nav-cell" routerLink="/galeria" routerLinkActive='active'>Galeria</div>
</div>

<div class="top-nav-mobile">
  <div class="centered">
    <img src="assets/img/menu_mobile.svg" style="object-fit: contain; height: 50px; width: 50px;" (click)='toggleNav()'>
  </div>
  <div *ngIf="showMenu" class="top-nav-collapse">
    <div (click)="toggleNav()" routerLink="/">Główna</div>
    <div (click)="toggleNav()" routerLink="/aktualnosci">Aktualności</div>
    <div (click)="toggleNav()" routerLink="/oplaty">Opłaty</div>
    <div (click)="toggleNav()" routerLink="/prawo_i_dokumenty">Prawo i dokumenty</div>
    <div (click)="toggleNav()" routerLink="/kontakt">Kontakt</div>
    <div (click)="toggleNav()" routerLink="/historia_ogrodu">Historia ogrodu</div>
    <div (click)="toggleNav()" routerLink="/galeria">Galeria</div>
  </div>
</div>
