@import "/src/_variables.scss";

@keyframes menu {
  0%   {
    background:
    linear-gradient(-45deg, transparent 85%,$base_color 0%),
    linear-gradient(-135deg, transparent 85%,$base_color 0%),
  }
  50% {
    background: $base_color_dark;
  }
}

:host {
  width: 100%;
  top: 0px;
  position: sticky;
  z-index: 1;
}

.top-nav {
  background: white;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 50px;
  font-family: 'Courgette', cursive;
}


.top-nav-mobile {
  background: white;
  display: none;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  z-index: 1;
}
.top-nav-collapse {
  display: flex;
  flex-direction: column;
}

.top-nav-collapse > div {
  height: 50px;
  display: flex;
  border-top: 1px solid lightgray;
  justify-content: center;
  align-items: center;
  color: black;
  background:
  linear-gradient(-45deg, transparent 85%,$base_color 0%),
  linear-gradient(-135deg, transparent 85%,$base_color 0%),
}


.nav-cell {
  height: 50px;
  color: black;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  background:
  linear-gradient(-45deg, transparent 85%,$base_color 0%),
  linear-gradient(-135deg, transparent 85%,$base_color 0%),
}

.nav-cell:hover {
  animation-name: menu;
  animation-duration: 0.3s;
  color: white;
  background: $base_color_dark;
}

@media (max-width: 800px) {
  .top-nav-mobile {
    display: flex;
    flex-direction: column;
  }
  .top-nav {
    display: none;
  }
}
