<p>Opłaty - dokumenty</p>
<table>
  <tr *ngFor="let element of files">
    <td>{{element.file | fileName}}</td>
    <td><a mat-button color="primary" href="{{element.file}}" target="_blank">Otwórz</a></td>
    <td><a mat-button color="primary" href="{{element.file}}" download>Pobierz</a></td>
    <td><button *appAuthUser mat-button color="warn" (click)="openDeleteDialog(element)">Usuń <img src="assets/icons/delete-24px.svg"></button></td>
  </tr>
</table>
<app-file-upload *appAuthUser [type]="'doc'" [module]="'templates'"></app-file-upload>
<div *ngIf="!files.length">Brak dokumentów</div>
