:host {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
table {
  border-spacing: 5px;
  overflow: auto;
  display: inline-block;
}


@media (max-width: 900px) {
  table {
    width: 100%;
  }
}
