@import "/src/_variables.scss";

:host {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tile {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  text-align: center;
  -webkit-box-shadow: inset 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.header-tile {
  padding: 15px;
  background: $base_color_dark;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-box-shadow: inset 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.tile:hover {
  background: $base_color_dark;
  color: white;
}

.tile:focus {
  border-left: 2px solid $base_color_dark;
  border-right: 2px solid $base_color_dark;
  outline: none;
}

.loading-shade {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: $base_color_light;
}
