<p>
  NIP - 522-25-12-140 <br />
  Regon – 007015915-20438 <br />
  Sąd Rejonowy m.st. Warszawy KRS 0000293886; <br />
  tel/fax (22) 846-59-40; 784 695 505<br />
  email: <a href="mailto:rodpaluchmiejskiwarszawa@pzd.pl?subject=Wiadomość ze strony www ROD Paluch Miejski">rodpaluchmiejskiwarszawa@pzd.pl</a>
</p>

<hr >

<table>
  <tr>
    <th>Zarząd czynny:</th>
    <th>Jak do nas dojechać:</th>
  </tr>
  <tr>
    <td>
      wtorek od 16:00 do 18:00 <br />
      sobota od 10:00 do 13:00
    </td>
    <td>
      z Pętli Okęcie
      autobusem MZA nr. 124
    </td>
  </tr>
  <tr>
    <th>Rachunek bankowy:</th>
    <th>samochodem</th>
  </tr>
  <tr>
    <td>Volkswagen Bank direct <br />
      86 2130 0004 2001 0514 9760 0001</td>
    <td>
      Wprowadź do GPS współrzędne <br>
      52.151371,20.965004
    </td>
  </tr>
</table>
