@import "/src/_variables.scss";

:host {
  width: 100%;
  z-index: 1;
}

.footer {
  background-color: $base_color_dark;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

}

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
}
