<table>
  <tr>
    <th colspan="2">Ogród w liczbach</th>
  </tr>
  <tr *ngFor="let element of history">
    <td>{{element.key}}</td>
    <td>{{element.value}}</td>
  </tr>
</table>

<table>
  <tr>
    <th colspan="3">PREZESI ZARZĄDÓW OGRODU DZIAŁKOWEGO „PALUCH MIEJSKI”</th>
  </tr>
  <tr *ngFor="let element of leaders">
    <td>{{element.date}}</td>
    <td>{{element.person}}</td>
    <td>{{element.type}}</td>
  </tr>
</table>

<table>
  <tr>
    <th colspan="2">WAŻNE DATY</th>
  </tr>
  <tr *ngFor="let element of importantDates">
    <td>{{element.date}}</td>
    <td>{{element.action}}</td>
  </tr>
</table>
