<div class="container">
  <div class="header">
    <div class="header-logo" >
      <img src="../assets/paluchMiejskiLogo.png">
    </div>
    <div class="header-background" #background_img></div>
  </div>

  <app-top-nav></app-top-nav>

  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie, odio a aliquam cursus, est nisi fringilla
    ipsum, non egestas lectus erat non sem. Vestibulum metus sapien, vulputate ut urna sit amet, luctus sollicitudin ex.
    In justo tortor, molestie vel sem quis, vulputate cursus ligula. Quisque volutpat, nisl laoreet suscipit rhoncus,
    purus nunc malesuada odio, ac mollis orci diam et arcu. Curabitur nec neque sit amet dolor auctor efficitur a sit
    amet elit. Quisque id tristique odio. Ut quis laoreet mauris, et placerat diam. Nullam nisl lectus, rhoncus et
    dapibus sed, molestie a arcu. Donec pulvinar, urna ut tristique dapibus, lectus eros convallis odio, quis pulvinar
    augue lectus sit amet urna. Nullam eu facilisis diam, in lobortis nulla.

    Nunc eu laoreet arcu. Proin eleifend, metus et lobortis ornare, nulla odio volutpat sapien, in sodales augue felis
    in purus. Pellentesque iaculis bibendum dolor, quis tincidunt velit iaculis quis. Vestibulum et nunc et sapien
    consequat pulvinar sed quis odio. In hac habitasse platea dictumst. Mauris cursus venenatis elementum. Mauris nec
    bibendum tellus. Cras justo nibh, gravida sed ornare at, cursus quis lorem. Suspendisse venenatis faucibus libero et
    placerat. Nulla efficitur lacus non facilisis ullamcorper. Phasellus et justo eu eros dapibus cursus quis eu risus.
    Sed tempor tortor eget velit cursus tincidunt. Ut varius luctus enim congue tempus. Maecenas rutrum ligula non odio
    mattis, eget ultricies ligula accumsan. Morbi sed dui sit amet tellus semper scelerisque.

    Nunc odio diam, laoreet semper ultrices nec, pellentesque nec ipsum. Cras malesuada ultricies fringilla. Praesent
    vel dui eget augue mollis ultrices. Nam eu blandit sem, ut sagittis dolor. Nunc id dignissim odio. Quisque
    venenatis, quam ac rutrum accumsan, sem ipsum egestas est, et tempus turpis mi ac velit. Maecenas sagittis fringilla
    nibh, id venenatis libero ornare a. Aliquam facilisis fermentum nunc, bibendum consectetur felis laoreet nec.

    Donec id blandit justo, quis lacinia mi. Suspendisse volutpat nibh nisl. Nulla scelerisque justo vitae volutpat
    ullamcorper. Duis sagittis molestie felis eget hendrerit. In non suscipit nulla. Suspendisse eu ultrices erat. Etiam
    dictum vitae tortor sed iaculis. Proin sollicitudin lacus magna, non laoreet enim malesuada at. Nullam bibendum dui
    quis ex hendrerit cursus. Curabitur quis diam nisi. Aliquam in elementum neque. Sed semper augue quam, finibus
    congue lacus fringilla vestibulum.

    Nam vel dapibus est. Sed porta ante lacus, nec vulputate lectus malesuada et. Etiam diam dui, viverra vulputate
    augue non, sodales semper diam. Pellentesque consectetur erat non finibus vulputate. Aliquam eget lorem sodales
    sapien mollis semper. Morbi at dui id nibh malesuada finibus vel id tortor. Nam interdum in odio a iaculis.
  </div>

  <app-footer></app-footer>
</div>
