<div class="container">
  <app-header></app-header>
  <app-top-nav></app-top-nav>
  <div class="content">
    <div *ngIf="!mobile" class="side-nav">
      <app-notification-panel></app-notification-panel>
    </div>
    <main class="main-content">
      <div *ngIf="mobile" class="mobile-left">
        <button mat-mini-fab [matMenuTriggerFor]="menu">
          <img src="assets/icons/more_vert-24px.svg" />
        </button>
        <mat-menu #menu="matMenu">
          <app-notification-panel></app-notification-panel>
          <app-side-nav></app-side-nav>
        </mat-menu>
      </div>
      <router-outlet></router-outlet>
    </main>
    <div *ngIf="!mobile" class="side-nav">
      <app-side-nav></app-side-nav>
    </div>
  </div>

  <app-footer></app-footer>
</div>
