@import "/src/_variables.scss";

:host {
  position: relative;
  width: 100%;
  height: 100%;
}

.post {
  margin: 20px;
  position: relative;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  background: white;
}

button {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color: white;
  background: $base_color_dark;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-sub-div {
  max-height: 100px!important;
  flex: 1 1 0px;
  width: 0px;
}

.flex-main-div {
  max-height: 100px!important;
  text-align: center;
  flex: 2 1 0px;
  width: 0px;
}

.loading-shade {
  background: rgba(238, 238, 238, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.ligth-icon {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
