@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

body {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: 'Courgette', cursive;
}

::ng-deep.mat-dialog{ transition: none; }
